html {
    background-color: #bee399;
}

body {
    header {
    }

    #body {
        background-color: #e5f9d1;
    }

    footer {
        background-color: #bee399;
    }

    fieldset {
        .text_year {
            width: 100px;
        }

        .text_month {
            width: 100px;
        }
    }

    .result {
        margin-top: 20px;

        .result-row {
            border-bottom: 1px dotted;
        }

        :hover {
            background-color: #80c937;
        }
    }
}
