html {
  background-color: #bee399;
}
body #body {
  background-color: #e5f9d1;
}
body footer {
  background-color: #bee399;
}
body fieldset .text_year {
  width: 100px;
}
body fieldset .text_month {
  width: 100px;
}
body .result {
  margin-top: 20px;
}
body .result .result-row {
  border-bottom: 1px dotted;
}
body .result :hover {
  background-color: #80c937;
}
